body {
    font-family: Arial, sans-serif;
    background-color: white;
}

.sidebar {
    background-color: #d0e4f8;
    height: 100vh;
    color: #000000;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
    color:black;
}

.sidebar .nav-link {
    font-size: 18px;
    color: #000000;
    margin-bottom: 10px;
    text-decoration: none;
}

.sidebar .nav-link:hover {
    background-color: #ffffff;
    color:black;
    border-radius: 5px;
    padding: 5px;
}

/* Main content styling */
.content {
    background-color: #ffffff;
    padding: 20px;
}

h1 {
    color: #000000;
}

/* Card Styling */
.card {
    background-color: #d0e4f8;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.card p {
    font-size: 20px;
    margin-bottom: 20px;
}

.card .btn {
    background-color: white;
    color: black;
    border-radius: 5px;
    border-color: white;
}

.card .btn:hover {
    background-color: white;
}

@media (max-width: 768px) {
    .sidebar {
        width: 200px;
        padding: 10px;
    }

    .card {
        width: 100%;
        margin-bottom: 15px;
    }

    .content {
        margin-left: 0;
        padding: 10px;
    }
}
